<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="/"> <img src="/my-personal-logo.png"  id="logo"alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link  <%-  link === '/' ? 'active': '' %> " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%-  link === '/contact' ? 'active': '' %>" href="/contact">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Campground
          </a>
          <ul class="dropdown-menu bg-dark" id="dropdown" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item <%-  link === '/campgrounds' ? 'active': '' %>" href="/campgrounds">View All Campgrounds</a></li>
            <li><a class="dropdown-item <%- link === '/campgrounds/new' ? 'active': '' %>" href="/campgrounds/new"> Add Campground</a></li>
            <!-- <li><hr class="dropdown-divider text-light"></li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li> -->
          </ul>
        </li>

      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <ul class="d-flex navbar-nav  mx-2 mb-2 mb-lg-0">
       
        <% if (!currentUser) {%>
          <a class="nav-link <%-  link === '/register' ? 'active': '' %> " href="/register">Register</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link <%-  link === '/login' ? 'active': '' %> " href="/login" >Login</a>
        </li>
          <% }else{ %>
            <li class="nav-item ">
              <a class="nav-link" href="/logout" >Logout</a>
            </li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>